<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu type="overlay" contentId="main">
      <ion-header>
        
      </ion-header>
      <ion-content>
      <ion-list>
        <ion-item>
          
        </ion-item>
        <ion-menu-toggle auto-hide="false" >
          <ion-item >
          
          </ion-item>
         
        </ion-menu-toggle>
      </ion-list>
      </ion-content>
    </ion-menu>
 
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>  
</ion-app>
