<ion-header >
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Welcome to Portal</ion-card-title>
    </ion-card-header>
    <ion-item >
      <ion-label position="floating">FirstName</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item >
      <ion-label position="floating">LastName</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item >
       <ion-label position="floating">Email</ion-label>
       <ion-input type="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">MobileNO</ion-label>
      <ion-input type="telnum" ></ion-input>
    </ion-item>
    <ion-item>
       <ion-label position="floating">CreatePassword</ion-label>
       <ion-input type="password" ></ion-input>
    </ion-item>

    <ion-button>SignUp</ion-button>
  </ion-card>
         
</ion-content>
